@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
nav{
    padding: 25px 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);;
}
.full-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    
}
.nav-icon{
    display: flex;
    width: 60%;
    gap: 20px;
}
.pink{
    color: #FF42A5;
}
.icon-text{
    font-size: 2.80rem;
    font-weight: 700;
}
.nav-menu{
    width: 40%;
}

.nav-menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3C354F;
    font-weight: 500;
}

.nav-menu li{
    list-style: none;
}

.nav-menu li:last-child{
    background-color: #E7E6E9;
    border-radius: 5px;
    padding: 17px 24px;
    display: flex;
    align-items: center;
    
    gap: 10px;
    justify-content: space-between;
}
.fa-brands{
    font-size: 1.5rem;
}

.fa-youtube{
    color: red;
}
.fa-facebook{
    color: #0D89F0;
}

/* nav end */



/* banner start  */

.banner-section{
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    /* background-position:top left; */
    background-size: 50% 100%;
}

.banner{
    display: flex;
    margin: auto;
    /* border: 2px solid red; */
    max-width: 1400px;
}
.banner-content{
    height: 100;
    width: 50%;
    display: flex;
    /* border: 2px solid blue; */
    justify-content: start;
    align-items: center;
  
}

.banner-img{
    width: 50%;
    /* border: 2px solid yellowgreen; */
}
.banner-img img{
    width: 100%;
    /* border: 2px solid black; */
}
.banner-description{
    display: flex;
    font-size: 1.25rem;
    font-weight: 500;
    color: #534C64;
    padding: 15px 0px;
    gap:10px;
}
.fa-solid{
    color: black;
}
.banner-title{
    font-size: 3rem;
    font-weight: 600;
}
.goat{
    font-size: 6rem;
    font-weight: 800;
    
}
.liner{
    background: linear-gradient(180deg, #F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.fa-play{
    border: 2px solid #FF42A5;
    border-radius: 50%;
    padding: 5px;
}

.btn{
    padding: 21px 40px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.25rem;
    color:#fff;
    border:none;
    background-color: #4EC5F7;
}
.pink-btn{
    background-color: #FF42A5;
}
.banner-content .btn{
    margin-top: 30px;
}
.banner .btn{
    margin-right: 10px;
}

.hi{
    display: none;
}

/* end of banner  */

/* start we are gamer section */

.we-are-gamer-section{
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.we-are-gamer{
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: right;
    color: #534C64;
}


.title{
    font-size: 3rem;
    font-weight: 700;
    
}
.description{
    font-size: 1rem;
    line-height: 1.5rem;
}
.purpus{
    font-size: 1.5rem;
    font-weight: 500;

}
.quote{
    font-size: 2rem;
    font-weight: 700;

}

.we-are-gamer .btn{
    margin: 30px 0px 24px;
}
.content-container{
    padding-left: 20px;
}